.span-invis-button-disable {
    cursor: default;
    color: #444444;
    font-size: 20px;
    text-align: center;
}

.invis-button-disable {
    cursor: default;
    border: none;
    background-color: transparent;
    outline: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 15px;
}

.span-invis-button {
    color: #999999;
    font-size: 20px;
    text-align: center;
}

.invis-button:hover .span-invis-button {
    color: #dddddd;
}

.invis-button {
    border: none;
    background-color: transparent;
    outline: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 15px;
}

.invis-button:focus {
    border: none;
}

.div-timeline {
    overflow: hidden;
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 0;
    background-color: #222222;
}

.div-left-timeline {
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: #222222;
}

.div-right-timeline {
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: #222222;
}

.div-map-btn {
    position: fixed;
    top: 50px;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: #22222288;
}

.div-map-menu {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #22222288;
}

.div-map {
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    background-color: white;
}

.btn-logout {
    width: 100%;
    padding: 14px 10px !important;
    text-align: left !important;
}

.auth-body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}